.toggle-button {
    top: 10px; 
    left: 670px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &.connect-toggle {
      background-color: #b0a3a3;
      color: #000000;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
  
      &::after {
        content: "";
        position: absolute;
        left: 5px;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }
  
      &.connected {
        background: linear-gradient(to right, #EE5D4B 0%, #ED4732 81%, #B82E1D 100%);
      
        
        &::after {
          left: 55px; 
        }
      }
    }
  }
  